body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
#counter{
    font-size: 100px;
    font-weight: bold;

   
}
#counter2{
    font-size: 100px;
    font-weight: bold;
  
    
    
}
#puntos{
    font-size: 100px;
    font-weight: bold;
    
    
}
#centred{

    display: flex;
}
#botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
